# python
*.py linguist-language=Python

# binary
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# ignore
docs/ export-ignore
notebooks/ export-ignore
resources/ export-ignore
