# python
*.py linguist-language=Python

# binary
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# jupyter
notebooks/* linguist-vendored=false

# docs
docs/* linguist-documentation

# resources
resources/* linguist-vendored=false