services:
  rolling-pin:
    container_name: rolling-pin
    image: rolling-pin:dev
    platform: linux/arm64
    build:
      context: .
      dockerfile: dev.dockerfile
    ports:
      - "5100:9000"
      - "5180:8080"
    userns_mode: "host"
    user: ubuntu
    env_file:
      - config/dev-env
    volumes:
      - ../:/home/ubuntu/rolling-pin
      - ~/.ssh:/home/ubuntu/.ssh:ro
      - ./config/jupyter:/home/ubuntu/.jupyter
      - ./config/zshrc:/home/ubuntu/.zshrc
    working_dir: "/home/ubuntu"
